p {
    margin-top: 20px;
    text-align: center;
    color: navy;
    font-size: 25px
}

body{
    background: #000 url(P3.jpg);
    background-attachment: fixed;
	background-repeat: repeat-x;
    background-size: cover
}


h1 {
    color: navy;
    text-align: center
}

h2 {
    color: navy;
    text-align: center
}

a {margin-top: 20px;
    margin-left: 350;
    color: navy;
    font-size: 25px
}

li {margin-top: 20px;
    margin-left: 350;
    color: navy;
    font-size: 20px;
}

